/* font-family: 'Commissioner', sans-serif; */

/*Globales*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
    line-height: 1.6;
}
#form{
    z-index: 60;
}
.gracias{
    z-index: 70;
}
.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
}
.fondo_oscuro {
    height: 100%;
    background: -webkit-gradient(linear, 0% 100%, 0% 70%, from(#000000), to(rgba(0, 0, 0, 0.63)));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

.contenedor {
    width: min(95%, 140rem);
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}

a:hover {
    color: hsl(0, 0%, 48%);
}

.negro {
    color: black;
}

gris {
    color: hsl(0, 0%, 48%);
}

.btn-gris {
    background-color: hsl(0, 0%, 48%) !important;
}

.m-cyan {
    color: hsl(176, 72%, 28%);
}

.bold {
    font-weight: 700;
}

.t-g {
    font-size: 1.2rem;
}

.n-g {
    font-size: 2rem;
}

.m-t-3 {
    margin-top: 2rem;
}

.m-b-3 {
    margin-bottom: 3rem;
}

.btn {
    border: none;
    background-color: hsl(176, 72%, 28%);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.btn-p {
    margin-right: 0;
}

.btn:hover {
    color: white;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
}

.btn-r-p {
    width: 7rem;
    margin-right: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 1rem;
    color: hsl(0, 0%, 48%);
}

@media (max-width: 411px) {
    .btn-r-p {
        width: 5rem;
    }
}

.peq:hover {
    background-color: hsl(176, 50%, 47%);
}

.borde-gris {
    border: 1px solid #ccc;
}

.borde-cyan {
    border: 1.2px solid hsl(176, 50%, 47%);
    box-shadow: 0px 0px 2px hsl(176, 72%, 28%);
}

/*Header*/
.menuppal {
    display: none;
}
@media (max-width: 611px) {
    .hamburger {
        position: absolute;
        background-color: transparent;
        left: 85%;
        top: 2rem;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    .hamburger.is-active {
        background-color: none;
    }
    ._layer {
        background: #fff;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    .hamburger:hover .-bottom {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid {
        opacity: 0;
    }
    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }
    .menuppal.is_active {
        z-index:50;
        transform: translate3d(0px, 0px, 0px);
        color: black;
    }
    .menuppal {
        z-index:50;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        margin: 0 auto;
        background-color: #fff;
        text-align: left;
        border-radius: 1rem;
        position: relative;
        top: 1rem;
        z-index: 10;
        transform: translate3d(0px, -300%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        z-index: 1001;
        box-shadow: 0px 2px 5px #00000077;
    }
    .menuppal ul {
        margin: 1rem 0;
        padding: 0;
    }
    .menuppal ul li {
        list-style: none;
        text-align: left;
        border-bottom: 1px solid #ccc;
        font-size: 1rem;
        line-height: 3rem;
        height: 3rem;
        text-transform: none;
        font-weight: bold;
    }
    .menuppal ul li:last-child {
        margin-bottom: 1rem;
        border: none;
    }
    .menuppal ul li a {
        margin-left: 2rem;
        margin-top: rem;
        text-decoration: none;
        color: #000;
    }
    .menuppal ul li a:hover {
        text-decoration: none;
        color: hsl(0, 0%, 48%);
    }
    .barra .navegacion {
        display: none;
    }
    .menu_movil {
        width: 60%;
        margin: 0 auto;
        text-align: left;
        border-radius: 1rem;
        position: relative;
        top: -10rem;
        z-index: 10;
    }
}

header {
    color: white;
    max-width: 1444px;
    height: 25rem;
    background-image: url("/images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.barra {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra h2 {
    margin-left: 2rem;
}

/*contenido*/

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.principal {
    z-index: 40;
    position: absolute;
    top: -7rem;
    border: 1px solid hsl(0, 0%, 48%);
    box-shadow: 0px 2px 5px #3d3d3da2;
    border-radius: 1rem;
    padding: .5rem;
    background-color: white;
    width: min(60%, 60rem);
}

.logo {
    position: relative;
    top: -50px;
}

.cabecera {
    position: relative;
    top: -60px;
}

.cabecera h2, p {
    margin: 1rem 0 0;
}

.botones {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botones .der {
    display: flex;
    align-items: center;
}

.botones .der:hover {
    cursor: pointer;
}

.der span a {
    font-weight: 700;
    margin: 0 0 0 .5rem;
    color: hsl(176, 72%, 28%);
}

.der span a.gris {
    color: hsl(0, 0%, 48%);
}

@media (max-width: 411px) {
    .botones .izq {
        box-sizing: content-box;
    }
    *, *:before, *:after {
        box-sizing: content-box;
    }
    .der span a {
        display: none;
    }
}

.numeros {
    margin-top: 4rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.numeros .contenido-numeros {
    margin-right: 4rem;
    line-height: 1rem;
    padding: 0 1rem;
    border-right: 1px solid #ccc;
}

.numeros .centro {
    padding-right: 4rem;
}

.numeros .contenido-numeros:last-child {
    border: none;
}

@media (max-width: 767px) {
    .numeros {
        display: block;
    }
    .numeros .contenido-numeros {
        margin-right: 0;
        border-right: none;
        text-align: center;
        padding: 0;
    }
    .contenido-numeros .borde {
        margin: 2rem auto;
        text-align: center;
        width: 6rem;
        border-bottom: 1px solid #ccc;
    }
}

.contenido-reward {
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin-top: 2rem;
    padding: 1.5rem;
}

.about {
    padding: 1rem;
}

.titulo {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.precio {
    margin-bottom: 1rem;
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.oculto {
    opacity: 40%;
}

@media (max-width: 411px) {
    .titulo {
        display: block;
    }
    .contenido-reward .btn-r {
        padding-bottom: 2rem;
        display: block;
    }
    .precio {
        margin-bottom: 2rem;
    }
}

.gracias {
    position: absolute;
    padding: 2rem;
    top: 250px;
    width: 50%;
    height: 25rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

@media (max-width: 411px) {
    .gracias {
        height: 30rem;
    }
}

.modal-start {
    display: block;
    position: absolute;
    padding: .5rem 1.5rem;
    top: -10rem;
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

.modal-start h4 {
    margin-bottom: 0;
}

p.cierre {
    cursor: pointer;
}

p.cierre:hover {
    color: black;
}

.input-radio {
    margin: 2rem auto;
    border-radius: .5rem;
    padding: 1rem;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.abajo {
    display: none;
}

.pledge {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones-r {
    display: flex;
    margin-top: 1rem;
}

@media (max-width: 540px) {
    .botones {
        display: block;
        text-align: center;
    }
    .botones .der {
        display: block;
    }
    #bookmarked {
        display: none;
    }
    .modal-start {
        font-size: .8rem;
    }
    .input {
        display: block;
    }
    .arriba {
        display: none;
    }
    .abajo {
        display: block;
    }
    .pledge {
        display: block;
        text-align: center;
    }
    .botones-r {
        padding: 1rem;
        justify-content: center;
    }
    .btn-r {
        margin: 0 .5rem;
    }
}

@media (max-width:360px) {
    .botones {
        display: block;
    }
    .der span a {
        display: block;
    }
}

.invisible {
    display: none;
}

.pledge input {
    background-image: url("/images/icono_dolar.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 80%;
    padding: .8rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    text-align: center;
}